body {
    font-family: system-ui;
    /* background: #f06d06; */
    color: black;
    text-align: center;
  }
  
  #heading {
    width:100%;
    font-family: system-ui;
    font-size:50px;
    height:120px;
    display:grid;
    align-items: center;
  }
  
  p {
      font-size: 20px; 
      margin: 20px 0; 
  }
  
  nav a {
      margin-top: 80px; 
      color: blue;
      text-decoration: none;
      margin: 0 10px;
  }

nav a.active {
  color: purple; 
}
  
  .line {
      border: none;
      height: 1px; 
      width: 90%; 
      background-color: gray; 
      margin-top: 30px; 
      margin-left: auto;
      margin-right: auto;
  }
  
  #introduction {
    width:85%;
    font-family: system-ui;
    font-size:20px;
    display:grid;
    align-items: center;
    margin-top: 30px;
    margin-left: 130px;
    text-align: justify;
  }
  .explain {
    margin-bottom: 10px; 
  }
  
  
  #table1 {
    width: 85%;
    border-collapse: collapse;
    margin-top: 30px; 
    margin-left: 130px;
  }
  
  #table1 td {
    background-color: #f2f2f2; 
    padding: 20px; 
    text-align: left;
  }
  
  
  #table1 tr td:first-child {
    width: 500px; 
    font-weight: bold; 
  } 
  